@model Modelo.Tarea﻿
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="http://bootboxjs.com/bootbox.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


@using (Html.BeginForm("Form", "Tarea", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="modalUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalUpdateLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalUpdateLabel">Actualizar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Titulo)
                            @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @id = "txtTitutlo" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Descripcion)
                            @Html.TextBoxFor(model => model.Descripcion, new { @class = "form-control", @id = "txtDescripcion" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.FechaVencimiento)
                            @Html.TextBoxFor(model => model.FechaVencimiento, new { @class = "form-control", @id = "txtFechaVencimiento" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Label("Categoria:")
                            @if (Model.Categoria.Categorias == null)
                            {
                                @Html.DropDownListFor(model => model.Categoria.IdCategoria,
                                         new SelectList(string.Empty, "Value", "Text"), "Seleccione una categoria", new { @class = "form-control", @id = "ddlRol" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.Categoria.IdCategoria,
                                         new SelectList(Model.Categoria.Categorias, "IdCategoria", "Nombre"), "Seleccione una Categoria", new { @class = "form-control", @id = "ddlCategoria" })
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Label("Prioridad:")
                            @if (Model.Prioridad.Prioridades == null)
                            {
                                @Html.DropDownListFor(model => model.Prioridad.IdPrioridad,
                                         new SelectList(string.Empty, "Value", "Text"), "Seleccione la prioridad", new { @class = "form-control", @id = "ddlRol" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.Prioridad.IdPrioridad,
                                         new SelectList(Model.Prioridad.Prioridades, "IdPrioridad", "Nombre"), "Seleccione la Prioridad", new { @class = "form-control", @id = "ddlPrioridad" })
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Label("Estado:")
                            @if (Model.Estado.Estados == null)
                            {
                                @Html.DropDownListFor(model => model.Estado.IdEstado,
                                         new SelectList(string.Empty, "Value", "Text"), "Seleccione el estado", new { @class = "form-control", @id = "ddlEstado" })
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.Estado.IdEstado,
                                         new SelectList(Model.Estado.Estados, "IdEstado", "Nombre"), "Seleccione el estado", new { @class = "form-control", @id = "ddlEstado" })
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href="@Url.Action("GetAll", "Tarea")">Cancelar</a>
                    <button type="submit" class="btn btn-success">Agregar</button>
                </div>
            </div>
        </div>
    </div>

}

<script>
    $('#modalUpdate').modal('show');
</script>